@charset "utf-8";
/* CSS Document */

body,div,q,iframe,form,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0; list-style:none;}
body { font-size: 12px; font-family: 微软雅黑, SimSun, sans-serif; background-color:#fbfbfb; }
h1,h2,h3,h4 { font-size:12px; font-weight:normal; list-style:none; display: inline; }
input,select,button{font:12px ;vertical-align:middle;}
a { text-decoration:none; color:#333333; }
a:hover{ color:#004f93;}
.clear { clear:both; }

.top { width:100%; height:30px; background:#2d2d2d; } 
.topm { margin:0 auto; width:1000px; height:30px; }
.topml { float:left; width:500px; height:30px; font-size:14px; font-weight:bold; color:#fff; line-height:30px; }
.topmr { float:right; text-align:right; width:500px; height:30px; font-size:12px; font-weight:normal; color:#fff; line-height:30px; }
.topmr a {  padding:0px 5px; font-size:12px; font-weight:normal; color:#fff; line-height:30px; }
.lz { width:100%; height:60px; border-bottom:1px #eee solid;background:#FFFFFF  }
.lzlogo { margin:0 auto;  height:60px; width:1000px; }
.lzlogo img { height:100%; max-height:60px; }
.lzlogo a img { max-height:60px; }
.lzlogo1 { float:left; }
.lzlogo1 img { height:100%; max-height:60px; }
.lzlogo1 a img { max-height:60px; }
.lzlogo2 { float:right; text-align:left; }

/* 登录 */

.dzhong { margin:0 auto; width:950px; margin-top:15px; }
.signin { width: 660px; height: 300px; margin-top: 15px; float: left; }
.signinrow { width: 660px; height: 40px; line-height: 40px; }
.signinrow span { font-size:14px; font-weight:bold; color: rgb(0, 71, 137); }
.signinrow .clos_1 { width: 70px; color: rgb(51, 51, 51); padding-left: 50px; font-size: 14px; word-spacing: 3px; float: left; }
.signinrow .clos_2 { width: 230px; float: left; }
.signinrow .clos_2 input { border: 1px solid rgb(128, 176, 221); height: 23px; line-height: 23px; font-weight: bold; margin-top: 5px; }
.signinrow .clos_2 input.w180 { width: 180px; }
.signinrow .clos_2 input.w80 { width: 80px; }
.vcimgstyle { width: 63px; height: 24px; margin-bottom: -7px; _margin-bottom: -3px; }
.signinrow .clos_3 { width: 300px; height: 40px; color: rgb(153, 153, 153); overflow: hidden; float: left; }
.signinbtn { border: 0px currentColor; width: 80px; height: 35px; color: rgb(255, 255, 255); line-height: 35px; font-size: 14px; font-weight: bold; float: left; background-color: rgb(0, 71, 137); }
.forget { width: 120px; height: 35px; text-align: center; color: rgb(255, 255, 255); line-height: 35px; font-size: 14px; font-weight: bold; margin-left: 10px; float: left; background-color: rgb(0, 71, 137); }
a.forget:hover { color: rgb(255, 255, 255); text-decoration: none; }
.login { margin: 55px 0px; width: 280px; height: 160px; border-left-color: rgb(0, 71, 137); border-left-width: 2px; border-left-style: solid; float: left; }
.login p { text-align: center; color: rgb(0, 71, 137); margin-top: 20px; }
.signup { width: 118px; height: 35px; text-align: center; color: rgb(255, 255, 255); line-height: 35px; font-size: 12px; font-weight: bold; margin-left: 10px; display: inline-block; background-color: rgb(0, 71, 137); }
a.signup:hover { color: rgb(255, 255, 255); text-decoration: none; }

/* 注册 */
.zczhong { margin:0 auto; width:950px; margin-top:15px; border: 1px solid rgb(221, 221, 221); }
.loginstep { margin: 20px 0px; width: 250px; float: left; }
.loginstep ul { list-style: none; margin: 0px; padding: 0px; }
.loginstep ul li { background: url("../images/stepw.gif") no-repeat right rgb(255, 255, 255); width: 130px; height: 35px; padding-right: 18px; margin-top: 30px; }
.loginstep ul li span { width: 130px; height: 35px; text-align: center; color: rgb(51, 51, 51); line-height: 35px; display: block; background-color: rgb(230, 232, 234); }
.loginstep ul li.current { background-image: url("../images/stepn.gif"); }
.loginstep ul li.current span { color: rgb(255, 255, 255); background-color: rgb(176, 189, 54); }
.loginform { width: 700px; margin-top: 20px; float: left; }
.loginformrow { width: 700px; height: 50px; line-height: 50px; }
.loginformrow .clos_1 { width: 70px; color: rgb(51, 51, 51); font-size: 14px; word-spacing: 3px; float: left; }
.loginformrow .clos_2 { width: 250px; float: left; }
.loginformrow .clos_2 input { border: 1px solid rgb(128, 176, 221); height: 23px; line-height: 23px; font-weight: bold; margin-top: 10px; }
.loginformrow .clos_2 input.w150 { width: 150px; }
.loginformrow .clos_2 input.w100 { width: 100px; }
.vcimgstyle { width: 63px; height: 24px; margin-bottom: -7px; _margin-bottom: -3px; }
.loginformrow2 { width: 620px; height: 50px; line-height: 50px; padding-left: 70px; }
.loginbtn { border: 0px currentColor; width: 130px; height: 35px; color: rgb(255, 255, 255); line-height: 35px; font-size: 14px; font-weight: bold; background-color: rgb(0, 71, 137);float :left ; }


.zhong{ width:950px; margin:0 auto; margin-top:10px; }
.left_z{ width:200px; min-height:540px; border:1px #3e8cd7 solid; float:left}
.left_z ul{ margin:0; padding:0; }
.left_z ul li{ line-height:34px;}
.click{cursor:pointer; width:200px; height:34px; background:url(../images/zuoce.gif) repeat-x; overflow:hidden; line-height:34px; color:#3d3d3d}
.tt{margin-left:10px; padding-right:5px;}
.hide{ }
.hide ul{ margin:0; padding:0; }
.hide ul li{ width:200px; height:34px; text-align:center; line-height:34px;}
.bu{ width:9px; height:13px; margin-left:109px; _margin-top:10px;}
.bu img{ _margin-top:10px;}
.right_z{ width:735px; margin-left:10px; min-height:540px; border:1px #3e8cd7 solid; float:left; }
.r_s{ width:730px; }

.rs_dh{ width:730px; height:39px; background:url(../images/youce.gif) no-repeat; overflow:hidden;}
.rs_dh a{ color:#333; font-size:14px; line-height:39px; padding-left:24px;}
.xinxi { width:730px; height:180px; }
.toux{ width:114px; height:160px; float:left; padding:10px 10px;}
.tou1{ width:112px; height:112px; border:1px #9d6f11 solid;}
.tou1 img { width:112px; height:112px; }
.xiugai{ width:112px; height:30px; margin:5px auto; text-align:center; line-height:30px;}
.juti_zh{ width:580px; height:180px; float:left; line-height:200%;}
.xxx{ width:280px; line-height:35px; float:left;}
.xxx a{ color:blue}
.xx{ width:220px; height:35px; line-height:35px; float:right;}
.xx a{ color:blue}

.xinwen_zh{ width:720px; min-height:278px; margin:5px 5px;}
.an1{ width:118px; height:35px; background:url(../images/xinwenan.gif) no-repeat; text-align:center; line-height:35px; }
.an1 a{ color:#b4001b; font-size:14px;}
.xinwen_n{ width:720px; mix-height:200px;  }
.xinwen_n  ul { padding:0; margin:0;}
.xinwen_n li { padding-left:10px; height:30px; line-height:30px; width:600px; }

.xinwentitle { width:100%; text-align:center; height:30px; line-height:30px; font-size:14px; font-weight:bold; }
.xinwenftitle { width:100%; text-align:center; height:30px; line-height:30px; font-size:12px;}
.xinwennei {  line-height:24px; font-size:12px; padding:10px; }